name: Parallel Jobs Example

on:
  push:

jobs:
  build:
    name: Build App
    runs-on: ubuntu-latest
    steps:
      - run: echo "Building app"

  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running linter"

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running tests"
