name: Python Multi-OS Matrix Example

on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test on Multiple OSs & Python Versions
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.10, 3.11, 3.12]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install uv and set Python version ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: ${{ matrix.python-version }}

      - name: Check Python version
        run: |
          python --version
    